@import-normalize;

$blue: #0ddbfd;
$yellow: #fffd82;

// ::-webkit-scrollbar {
//     width: 8px;
//     background: $blue;
// }

// ::-webkit-scrollbar-thumb {
//     background: $yellow;
// }

.App {
    font-family: 'Raleway', sans-serif;
}
